/* 
*, *:before, *:after {
  box-sizing: border-box;
}
*/

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

h1, h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #007adc;
}

a.active {
  color: #ff3b30;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App--loading {
  opacity: 0.5;
}

.TopBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  line-height: 20px;
  background: #ccc;
  font-size: 14px;
  text-align: center;
}

.Master {
  position: absolute;
  left: 0;
  width: 200px;
  top: 0;
  bottom: 0;
}

.Detail {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 720px;
  padding-left: 20px;
}

.PersonInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.PersonInfo_Name {
  display: block;
  padding: 4px 8px;
  font-size: 120%;
}

.PersonList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.PersonList__Person {
  box-sizing: border-box;
  transition: all 500ms ease;
}

.PersonList__Link {
  display: block;
  padding: 4px 8px;
  font-size: 120%;
}

.PersonList__Link--new {
  color: #4cd964;
}

.Heading {
  margin: 0;
  text-align: center;
  padding: 10px;
  background: #27897A;
  color: #fff;
  font-size: 100%;
  box-sizing: border-box;
  height: 40px;
}

.Heading--alt {
  background-color: #27897A;
}

.Content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background: #fff;
}

.padBox {
  padding: 20px;
}

.Avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin: 20px;
}

.KVSet {
  margin: 20px;
}

.KV {
  display: flex;
  flex-direction: row;
}

.KV__Key,
.KV__Value {
  box-sizing: border-box;
  margin: 10px;
  font-size: 150%;
}

.KV__Key {
  width: 150px;
  color: hsl(0, 0%, 75%);
}

.detail-enter {
  opacity: 0.01;
  transition: opacity 500ms ease;
}

.detail-enter.detail-enter-active {
  opacity: 1;
}

.detail-leave {
  transition: opacity 500ms ease;
  opacity: 1;
}

.detail-leave.detail-leave-active {
  opacity: 0.01;
}

/* BOOKS */

.book-panel {
  position: relative;
  height: 290px;
  display: inline-block;
  padding: 15px;
  cursor:pointer;
}

.books-row {
  margin-bottom: 20px;
  height: 340px;
}

.thumbnail {
  width: 150px;
  height: 230px;
}

.book-title {
  line-height: 1.2em;
  font-weight: 500;
  color: #000;
  font-size: 12px;
  padding-bottom: 3px;
  padding-top: 6px;
}

.book-author {
  line-height: 1.2em;
  font-size: 11px;
}

/* RATING */

.rating {
  position: relative;
  margin: -40px 0 0 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
  z-index: 999;
  height: 48px;
}

.rating a {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #dfe5eb;
  width: 40px;
  height: 40px;
  padding: 6px 0 0;
  margin: 0 -3px;
  background: #eff2f5;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #a6afb8;
  border-radius: 10px;
  float: right;
}

.rating a span {
  display: block;
  clear: both;
  margin: 2px 5px 0 5px;
  font-size: 10px;
  font-weight: 500;
  color: #a6afb8;
}
